<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-left">
  <div class="col-2">
    <img src="../assets/images/logo-bravosul.svg" alt="Logo" width="70" height="80" style="margin-left: 2em;">
  </div>
  <div class="col-10 float-right">
    <ul class="navbar-nav float-right">
      <li class="nav-item">
        <button class="btn btn-dark" *ngIf="!IsLogged()" (click)="open(login)">Login</button>
        <button class="btn btn-dark" *ngIf="IsLogged()" (click)="Logout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>
<app-list></app-list>

<ng-template #login let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Sign in</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <input type="email" class="form-control" id="inputEmail" #email>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="inputPassword" #password>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="loginError">
      Email or password incorrect!
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="Login(email.value, password.value)">Login</button>
  </div>
</ng-template>