<div class="container bg-light" style="margin-top: 0px; min-height: 50px; border-radius: 5px;">
  <label style="font-size: 24px; margin-left: 25px; margin-top: 5px;">Product list</label>
  <button *ngIf="IsLogged()" class="btn btn-default float-right button-create" (click)="open(product)">Create</button>
</div>
<div class="container bg-light" style="margin-top: 20px; border-radius: 5px;">
  <div class="col-12 table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Description</th>
          <th *ngIf="IsLogged()">Enabled</th>
          <th *ngIf="IsLogged()" class="text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of products" [hidden]="!IsLogged() && !item.enabled">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>
          <td *ngIf="IsLogged()">
            <span *ngIf="item.enabled">Yes</span>
            <span *ngIf="!item.enabled">No</span>
          </td>
          <td *ngIf="IsLogged()" class="text-right">
            <button class="btn btn-primary" (click)="open(product, item)">Edit</button>
            <button class="btn btn-danger" style="margin-left: 0.5em;" (click)="Destroy(item.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #product let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New product</h4>
    <input class="d-none" id="idProduct" #id>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="nameProduct">Nome</label>
      <input type="text" class="form-control" id="nameProduct" #name>
    </div>
    <div class="form-group">
      <label for="descriptionProduct">Description</label>
      <input type="text" class="form-control" id="descriptionProduct" #description>
    </div>
    <div class="btn-group float-right">
      <button type="button" class="btn btn-secondary" [ngClass]="{'active': enabled == 1, '':enabled == 0 }" (click)="enabled = 1">Enabled</button>
      <button type="button" class="btn btn-secondary" [ngClass]="{'active': enabled == 0, '':enabled == 1 }" (click)="enabled = 0">Disabled</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="CreateOrUpdate(name.value, description.value, enabled, id.value)">Save</button>
  </div>
</ng-template>